/* General header styles */
.App-header, .header-contents {
  width: 100%;
  background-color: #333;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.header-contents {
  
  padding-right: 30px;
}

.header-title {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}

/* Link styles */

.header-title {
  font-size: 35px;
}

.header-link-secondary {
  font-size: 25px;
}

.header-link {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header-link:hover {
  background-color: #444;
  color: #fff;
}

/* Navigation options styles */
.navOptions {
  display: flex;
  align-items: center;
}

.navbar-links {
  margin-left: 20px;
}

/* Add New Post button */
#add-new-post {
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
}

#add-new-post:hover {
  background-color: #0056b3;
}
