/* Base container for the post */
.post-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the post title */
#postTitle {
  font-size:50px;
  color: #000000;
  margin-bottom: 1rem;

}

/* Style for the post image */
.postImage {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Style for likes and dislikes */
button.submitButton {
  padding: 12px 20px;
  margin: 10px 5px;
  border: none;
  border-radius: 6px;
  background-color: #c7522b;
  color: #fff;
  cursor: pointer;
}

button.submitButton:hover {
  background-color: #2980b9;
}

/* Style for post content */
.postContent {
  font-size: 1.2rem;
  color: #fafafa;
  line-height: 1.6;
  margin-top: 20px;
}

/* Style for the comment box and form */
.formBox {
  margin-top: 20px;
}

textarea.comment {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Style for comments list */
.comment-text {
  font-size: 1rem;
  color: #333;
  margin-top: 20px;
  display: block;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 6px;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .post-container {
    padding: 10px;
  }

  #postTitle {
    font-size: 1.5rem;
  }

  .postContent {
    font-size: 1rem;
  }
}
