#sideBar {
    background-color: rgb(31, 31, 31);
    padding: 20px;
    color:white;
    font-size: 25px;
    width: 200px;
    border-radius: 10px; 
    padding-top: 40px;
    padding-bottom: 60px;
    margin-left: 20px;

}

.topicButton {
    width:80%;
   border-radius: 4px;
   border: none;
   display: block;
   margin: 15px;
   height: 35px;

}

.topicButton-unselected{
    background-color: #c7522b;
}

.topicButton-selected{
    background-color: #04a848;
}

.eachTopicText{
   
    margin: 5px 0;
    color:rgb(255, 255, 255);
}

.newTopicButton{
    background-color: #46d1ea;
    border-radius: 5px;
    border: none;
    margin-left:8px;
    margin-top: 20px;
    height: 40px;
    font-size:15px;
    
}

.topicButton:hover{
    transform: scale(1.02); /* Expand the button by 5% */
}

.newTopicButton:hover{
   background-color: #04a848; 
   color:white;
   transition: background-color 0.3s;
}

.newTopicForm {
    background-color: rgb(31, 31, 31);
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-top: 20px; 
    max-width: fit-content;
    border: 1px solid #c7522b; /* A border color consistent with our button color for distinction */
}

.newTopicForm label {
    display: block;
    color:white;
    background-color: rgb(31, 31, 31); ;
    margin-bottom: 10px; 
}

.newTopicForm input[type="text"], 
.newTopicForm textarea {
    width: 80%;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #c7522b; 
    margin-bottom: 15px; 
    color: white;
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background for input fields */
}

.newTopicForm input[type="text"]:focus, 
.newTopicForm textarea:focus {
    outline: none;
    border-color: #46d1ea; /* Highlight when focused, consistent with  newTopicButton color */
}

.newTopicForm button {
    background-color: #c7522b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.newTopicForm button:hover {
    background-color: #07272d; /* Consistent with our hover color scheme */
}


