
.techNewsSearchBar {
    padding: 20px;
    background-color: rgb(241, 238, 238);
    max-width: 800px; 
    margin: auto; 
    margin-top: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}


.techNewsSearchBar input[type="text"]{
    width: 70%; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-right: 10px; 
    font-size: 16px;
    color: white;
    background-color: rgb(35, 32, 38);

}

.techNewsSearchBar input[type="text"]::placeholder {
     color: white;
    font-size: 18px;
}

.techNewsSearchBar input[type="text"]:focus{
    outline: none;
    border-color: #46d1ea; /* Highlight when focused, consistent with  newTopicButton color */
}


.techNewsSearchButton {
    padding: 10px 20px;
    background-color: #c7522b;
    color: #fff; 
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 15px;
}

.techNewsSearchButton:hover {
    background-color: #46d1ea;
}