.App {
  /*text-align: center;*/
  background: linear-gradient(to right, #1e90ff, #00bfff);
  display: flex;       
  flex-direction: column;     
  align-items: center;  
  min-height: 100vh;        /* Ensure the app takes up the full viewport height */
}

.main-content {
  display: flex;
  width: 100%;             
  padding: 20px;            
  box-sizing: border-box;  
  justify-content: center; /* To make sure padding doesn't expand the container's width */
}

.content-area{ 
  flex: 1;                 /* Make sure content takes up remaining width after sidebar */
  display: flex;
  flex-direction: column; 
  align-items: center;    
  margin-left: 220px; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/**Headers**/

.App-header {
  padding: 20px 0;
  align-self: stretch;  
  background-color: rgb(32, 32, 32);
}



.header-title{
  font-size: 50px;
}
.navbar-links{
  margin-top: 20px;
}

.navOptions a:hover{
  background-color: rgb(214, 96, 28);
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}