/* Global styles for Home component */
.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-title {
  font-size: 1.5em;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.navOptions {
  display: flex;
  gap: 1em;
}

.main-content {
  margin-top: 4em;  /* Adjust based on your actual header height */
}

#sideBar {
  min-height: 100vh;
}

#sideBar {
  min-height: calc(100vh - 4em);
}
.sideBarLink, .sideBarButton {
  display: block;
  margin-bottom: 1em;
  text-align: center;
  background-color: #d3d3d3;
  padding: 0.5em;
  cursor: pointer;
  border: none;
}

.sideBarP {
  margin: 0;
  font-size: 1em;
}

.sideBarButton {
  background-color: #4caf50;
  color: white;
}

/* Styles for content area */
.content-area {
  margin-left:25%;
  background-color: #ffffff;
  padding: 1em;
}
