/* Global styles for Home component */
* {
 font-family: monospace;
}


.App {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.global-background {
  background-color: #d7e9f4f5;
}

.main-content {
  background-color: #cddee7f5;
  width: 100%;
  padding-top: 50px;  /* Adjust based on your actual header height */
  display: flex; 
  justify-content: start; 
  align-items: flex-start; /* Align children to the top */
}

/* Styles for content area */
.content-area {
  
  
  padding: 1em;
  width: 80%; /* Set width as required */
  
}

