/* Splash.css */

.splash-main-container {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f9fd;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.splash-heading {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.splash-subheading { 
    color: #444;
    margin-bottom: 10px;
}

.splash-loading, 
.splash-welcome-text {
    margin-bottom: 10px;
    color: #666;
}

.splash-user-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

button.splash-sign-in-button,
button.splash-temporary-button,
button.splash-logout-button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.splash-sign-in-button:hover,
button.splash-temporary-button:hover,
button.splash-logout-button:hover {
    background-color: #0056b3;
}
